$white: #ffffff;
$black: #000000;
$primary1: #00c6a9;
$primary2: #252525;
$textCol: #999;

@mixin main-font {
  font-family: 'Roboto', sans-serif;
}

@mixin hero_btn($col1, $col2, $pad1, $pad2, $bRadius) {
  display: inline-block;
  padding: $pad1 $pad2;
  background-color: $col1;
  color: $col2;
  border-radius: $bRadius;

  &:hover {
    background-color: darken($color: $col1, $amount: 10);
  }
}

@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  @include main-font;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    position: relative;
    font-weight: bold;

    span {
      color: $primary1;
    }
  }

  &.heading_center {
    align-items: center;
    text-align: center;
  }
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.prediction {
  h4 {
    position: relative;
    padding-bottom: 5px;

    span {
      color: $primary1;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 75px;
      height: 2px;
      background-color: $primary1;
    }

    margin-bottom: 35px;
  }

  form {
    padding: 35px 45px;
    box-shadow: 0 0 15px 10px rgba($color: #000000, $alpha: .07);

    label {
      color: $black;
    }

    .form-control {
      width: 100%;
      background-color: transparent;
      border: 1px solid $primary1;
      height: 45px;
      outline: none;
      box-shadow: none;
      border-radius: 5px;
      padding: 0 15px;

      &::placeholder {
        color: $primary1;
      }
    }

    #inputDate {
      color: $primary1;

      input {
        color: $primary1;
      }
    }

    button.btn {
      background-color: $primary2;
      color: #ffffff;
      padding: 10px 45px;
      border-radius: 5px;
      margin-top: 10px;
      text-transform: uppercase;
    }
  }

  .date_icon {
    right: 10px;
    height: 100%;
    position: absolute;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary1;
  }

  .nice-select {
    &:after {
      content: "\f107";
      font-family: FontAwesome;
      border: none;
      width: auto;
      height: auto;
      transform: none;
      top: 7px;
      font-size: 20px;
      font-weight: bold;
      transition: all .3s;
    }

    &.open:after {
      content: "\f106";
    }
  }
}